.jumbotron {
    background-color: rgba(240, 144, 18, 0.952);
    color: black;
    text-align: center;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: rgba(240, 144, 18, 0.952);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: rgb(0, 128, 128);
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}